<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link type="text/css" href="assets/main.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="assets/images/Logo 2.svg" alt="logo" />
      </div>
      <div class="text">RocketBlog</div>
      <div class="search">
        <img src="assets/images/MGlass.png" alt="search" />
      </div>
    </div>
  </body>
</html>
