<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link type="text/css" href="assets/main.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header container">
      <div class="logo">
        <img src="assets/images/Logo 2.svg" alt="logo" />
      </div>
      <div class="name">RocketBlog</div>
      <div class="search">
        <img src="assets/images/MGlass.png" alt="search" />
      </div>
    </div>
    <div class="cards container">
      <div class="card">
        <img src="assets/images/image.png" alt="picture" />
        <div class="topic">
          Настройка ESLint, Prettier и pre-commit hook
        </div>
        <div class="text">
          Как настроить eslint, prettier и pre-commit хук, чтобы облегчить
          написание чистого кода и запретить пушить в гит плохой код.
        </div>
      </div>
      <div class="card">
        <img src="assets/images/image.png" alt="picture" />
        <div class="topic">
          Настройка ESLint, Prettier и pre-commit hook
        </div>
        <div class="text">
          Как настроить eslint, prettier и pre-commit хук, чтобы облегчить
          написание чистого кода и запретить пушить в гит плохой код.
        </div>
      </div>
      <div class="card">
        <img src="assets/images/image.png" alt="picture" />
        <div class="topic">
          Настройка ESLint, Prettier и pre-commit hook
        </div>
        <div class="text">
          Как настроить eslint, prettier и pre-commit хук, чтобы облегчить
          написание чистого кода и запретить пушить в гит плохой код.
        </div>
      </div>
      <div class="card">
        <img src="assets/images/image.png" alt="picture" />
        <div class="topic">
          Настройка ESLint, Prettier и pre-commit hook
        </div>
        <div class="text">
          Как настроить eslint, prettier и pre-commit хук, чтобы облегчить
          написание чистого кода и запретить пушить в гит плохой код.
        </div>
      </div>
    </div>
  </body>
</html>
