html,
body {
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  margin-top: 30px;
  margin-left: 132px;
  width: 1180px;
  height: 40px;
}
.logo {
  position: absolute;
}
.name {
  position: absolute;
  top: 9px;
  left: 53px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  width: 87px;
  height: 22px;
}
.search img {
  position: absolute;
  right: 15px;
  top: 9px;
  width: 25px;
  height: 25px;
}

@media (max-width: 500px) {
  .header {
    margin-left: 5px;
  }
  .search img {
    right: 1005px;
  }
}

.container {
  width: 1180px;
  margin: 0 auto;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 30%;
  margin-top: 34px;
}
.card img {
  width: 100%;
}
.topic {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #0a0a0a;
  font-weight: bold;
  margin-top: 17px;
}
.text {
  margin-top: 8px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 22px;
}
